<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrow Book</title>
</head>
<body>
    <div class="container text-center">
        <h1>For how many days you want the book?</h1>
        <form th:action="@{'/books/borrowRequest/' + ${bookId}}" method="post" th:object="${numberOfDays}">
            <div class="form-group row">
                <div class="col-8"><input type="number" min="1" max="15" th:field="*{numberOfDaysRequired}" class="form-control" required/></div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Borrow</button>
                <button type="submit" class="btn btn-primary" form="form2">Cancel</button>
            </div>
        </form>
        <form id="form2" th:action="@{'/books/cancelBorrowRequest'}"}>
        </form>
    </div>
</body>
</html>