<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Books</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thread-dark">
                <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Added By</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="book: ${AllBooks}">
                        <td th:text="${book.id}">Book ID</td>
                        <td th:text="${book.title}">Book Name</td>
                        <td th:text="${book.author}">Book Author</td>
                        <td th:text="${book.userName}">Added By</td>
                        <td th:if="${book.pendingStatus} and (${book.userId} != ${currentUserId})"><form th:action="@{'/books/cancelRequest/' + ${book.id}}" method="post"><input type="submit" value="Cancel Request" /></form></td>
                        <td th:if="${!book.pendingStatus} and (${book.userId} != ${currentUserId}) and ${book.availableStatus}"><form th:action="@{'/books/borrowRequest/' + ${book.id}}" method="post"><input type="submit" value="Borrow" /></form></td>
                        <td th:if="${book.pendingStatus} and (${book.userId} == ${currentUserId})" th:text="'Requested By: ' + ${book.requestedByUserName}"></td>
                        <td th:if="${book.pendingStatus} and (${book.userId} == ${currentUserId})"><form th:action="@{'/books/acceptBorrowRequest/' + ${book.id}}" method="post"><input type="submit" value="Accept" /></form></td>
                        <td th:if="${book.pendingStatus} and (${book.userId} == ${currentUserId})"><form th:action="@{'/books/declineBorrowRequest/' + ${book.id}}" method="post"><input type="submit" value="Decline" /></form></td>
                        <td th:if="${book.userId} == ${currentUserId} and ${book.availableStatus}"><form th:action="@{'/books/deleteBook/' + ${book.id}}"><input type="submit" value="Delete Book" /></form></td>
                        <td th:if="${!book.availableStatus} and (${book.issuedToUserId} == ${currentUserId})" th:text="'Due Date: ' + ${#dates.format(book.dueDate, 'dd-MMM-yyyy')}"></td>
                        <td th:if="${!book.availableStatus} and (${book.userId} == ${currentUserId}) and ${book.extensionRequest} and ${!book.loanAccepted}" th:text="'Loan Extension Req by: ' + ${book.issuedToUserName}"></td>
                        <td th:if="${!book.availableStatus} and (${book.userId} == ${currentUserId}) and ${book.extensionRequest} and ${!book.loanAccepted}"><form th:action="@{'/books/acceptLoanRequest/' + ${book.id}}" method="post"><input type="submit" value="Accept" /></form></td>
                        <td th:if="${!book.availableStatus} and (${book.userId} == ${currentUserId}) and ${book.extensionRequest} and ${!book.loanAccepted}"><form th:action="@{'/books/declineLoanRequest/' + ${book.id}}" method="post"><input type="submit" value="Decline"/></form></td>
                        <td th:if="${!book.availableStatus} and (${book.issuedToUserId} == ${currentUserId}) and ${!book.extensionRequest}"><form th:action="@{'/books/extendLoanRequest/' + ${book.id}}" method="post"><input type="submit" value="Extend Loan" /></form></td>
                        <td th:if="${!book.availableStatus} and (${book.issuedToUserId} == ${currentUserId})"><form th:action="@{'/books/returnBook/' + ${book.id}}" method="post"><input type="submit" value="Return Book"/></form></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div><a th:href="@{/home}">Back</a></div>
    </div>
    <script th:src="@{/custom/js/book/list.js}"></script>
</body>
</html>