<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <div class="container text-center">
        <div><h1>Change Password</h1></div>
        <form th:action="@{/changePassword}" method="post">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Old Password </label>
                    <div class="col-8"><input type="password" th:name="oldPassword" class="form-control" required /></div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">New Password </label>
                    <div class="col-8"><input type="password" th:name="newPassword" class="form-control" required /></div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
        <div><button class="btn btn-primary"><a th:href="@{/home}">Back</a></button></div>
    </div>
</body>
</html>